.addtriviapage-fullpage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	background-color: white;
	padding-bottom: 40px;
}

.addtriviapage-content-container {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	width: 1500px;
	background: rgb(255, 255, 255);
	background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
	border-radius: 40px;
}

.add-trivia-page-header-container {
	padding-top: 50px;
	margin-bottom: 40px;
}

.add-trivia-page-form-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-right: 20px solid rgb(49, 49, 49);
	padding-left: 5%;
	padding-right: 2%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.add-trivia-page-info-container {
	padding: 5%;
}

.add-trivia-page-edit-container {
	display: flex;
	text-align: center;
	border-left: 15px solid rgb(49, 49, 49);
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.add-triviapage-title-text {
	font-size: 60px;
}
