.addtriviapage-fullpage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	background-color: #faf7f0;
}

.addtriviapage-content-container {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	width: 150vh;
	background-color: white;
	border-radius: 40px;
}

.add-trivia-page-header-container {
	padding-top: 50px;
	margin-bottom: 80px;
}

.add-trivia-page-form-container {
	text-align: center;
	display: flex;
	flex-direction: column;

	border-right: 3px solid plum;
	padding-left: 5%;
	padding-right: 5%;
}

.add-trivia-page-info-container {
	padding: 5%;
}

.add-trivia-page-edit-container {
	display: flex;
	text-align: center;
}

.add-triviapage-title-text {
	font-size: 60px;
}
