.main-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background: rgb(188, 206, 248);
	background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
}

.accordion {
	width: 500px;
	border: 2px solid black;
	padding: 50px;
	border-radius: 20px;
	background: white;
}

.item {
	background: #faf7f0;
	margin-bottom: 2%;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
	height: auto;
	max-height: 9999px;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.span-icon {
	font-size: 25px;
}

.gamefaq-title {
	margin-top: 4%;
	margin-bottom: 2%;
	font-size: 50px;
	color: white;
}
