.footer-main {
	border-top: 4px solid #12c2e9;
	max-height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.links-container {
	display: flex;
	justify-content: space-evenly;
}

.footer-link {
	padding-top: 15px;
	font-size: 20px;
	color: #12c2e9;
}

.footer-text {
	margin-top: 10px;
	padding-bottom: 10px;
}
