.main {
	height: 280px;
	padding: 25px;
	border-radius: 10px;
	box-sizing: border-box;

	color: white;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #12c2e9;
}
.message {
	text-align: center;
	font-size: 32px;
}
