.profilepage-main-container {
	margin-top: 87px;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #faf7f0;
	width: 100%;
}

/* Profile Header*/
.profilepage-header-container {
	background-image: url("https://trivia-fighter.s3.us-west-2.amazonaws.com/Images/aesthetic-purple-smoke-banner-background+(1).jpg");
	height: 250px;
	width: 100%;
	background-size: cover;
}
/* Profile Card */

.profilecard-img {
	height: 200px;
	border-radius: 50%;
}
.profilepage-info-container {
	height: 350px;
	border: 2px solid lavender;
	width: 200px;
	background-color: white;
	position: relative;
	bottom: 200px;
	left: 60px;
	z-index: 4;
}

/*Trivia Add Button Section*/
.create-triviabtn-container {
	height: 150px;
}
.add-trivia-btn {
	height: 60px;
	width: 230px;
	margin-top: 3%;
	position: relative;
	right: 25%;
	font-size: 19px;
	background-color: #cdfcf6;
	border-radius: 22px;
	border: none;
}
#triviapackage-title-txt {
	font-size: 45px;
	margin-bottom: 3%;
}

/*Triviapackages Section*/
.profilepage-content-container {
	position: relative;
	bottom: 357px;
	z-index: 0;
	background-color: white;
	max-height: 1400px;
	width: 1650px;
	padding-bottom: 40px;
}

.profilepage-triviapackage-img {
	height: 150px;
	border-radius: 50%;
}

.profilepage-triviapackage-menu {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	margin: 20px;
	border-radius: 20px;
	max-height: 1000px;
	overflow: auto;
	background-color: #bccef8;
	margin-right: 4%;
	margin-left: 4%;
}

.profilepage-triviapackage-card {
	margin: 30px;
	border: black 2px solid;
	border-radius: 20px;
	padding: 30px;
	width: 300px;
	height: 350px;
	background-color: white;
}

/*Comments Section*/
.profilepage-comments-container {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

/* .profilepage-profile-img {
	height: 100px;
	border-radius: 50%;
} */
.profilepage-review-img {
	height: 100px;
	border-radius: 50%;
}

.profilepage-review-img:hover {
	transform: scale(1.1);
}

.review-triviapackage-img {
	height: 100px;
	border-radius: 50%;
	transition: transform 0.2s;
	cursor: pointer;
}

.review-triviapackage-img:hover {
	transform: scale(1.2);
}

.profilepage-comments-components {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	border-bottom: palevioletred 3px solid;
}

.profilepage-comments-info {
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 60px;
	max-width: 100px;
}

.profilepage-comments-body {
	padding-top: 70px;
	padding-left: 80px;
}

#profilepage-comment {
	font-size: larger;

	height: 100px;
	width: 900px;
	overflow: hidden;
}

.review-editbtns-container {
	margin-top: 80%;
}
