.profilepage-main-container {
	margin-top: 87px;

	display: flex;
	justify-content: center;
	text-align: center;
	border: 2px solid black;
	background-color: antiquewhite;
}

/* Profile Header*/
.profilepage-header-container {
	background-image: url("https://trivia-fighter.s3.us-west-2.amazonaws.com/Images/aesthetic-purple-smoke-banner-background+(1).jpg");
	height: 250px;
	width: 100%;
	background-size: cover;
}
/* Profile Card */

.profilecard-img {
	height: 300px;
	border-radius: 50%;
}
.profilepage-info-container {
	height: 500px;
	border: 2px solid blue;
	width: 300px;
	background-color: white;
	position: relative;
	bottom: 150px;
	left: 60px;
}

.profilepage-triviapackage-img {
	height: 200px;
	border-radius: 50%;
}

.profilepage-triviapackage-menu {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	margin: 20px;
}

.profilepage-triviapackage-card {
	margin: 30px;
	border: black 2px solid;
	border-radius: 20px;
	padding: 30px;
	max-width: 220px;
}

.profilepage-comments-container {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}

.profilepage-profile-img {
	height: 100px;
	border-radius: 50%;
}
.profilepage-review-img {
	height: 100px;
	border-radius: 50%;
}

.profilepage-review-img:hover {
	transform: scale(1.1);
}

.review-triviapackage-img {
	height: 100px;
	border-radius: 50%;
	transition: transform 0.2s;
	cursor: pointer;
}

.review-triviapackage-img:hover {
	transform: scale(1.2);
}

.profilepage-comments-components {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	border-bottom: palevioletred 3px solid;
}

.profilepage-comments-info {
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 60px;
	max-width: 100px;
}

.profilepage-comments-body {
	padding-top: 70px;
	padding-left: 80px;
}

#profilepage-comment {
	font-size: larger;

	height: 100px;
	width: 900px;
	overflow: hidden;
}

.review-editbtns-container {
	margin-top: 80%;
}
