.navigation-main {
	height: 70px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: white;
	border-bottom: #bccef8 2px solid;
}

.navbar-link {
	text-decoration: none;
	font-size: 22px;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: black;
}

.active {
	color: black;
}

#logo-nav {
	margin-left: 3%;
}

#logout-btn-container {
	margin-right: 3%;
}

#demo-btn-container {
	margin-right: 3%;
}
