.premade-triviapackage-img {
	height: 150px;
	width: 150px;
	border-radius: 20%;
}

.premade-trivia-container {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	position: relative;
}

.premade-trivia-card {
	padding: 30px;
	border: 3px solid palevioletred;
	margin: 40px;
	border-radius: 20px;
	height: 270px;
	width: 230px;
}

.premade-difficulty-form {
	margin-top: 20%;
	font-size: 18px;
}
