.premade-triviapackage-img {
	height: 230px;
	border-radius: 20%;
}

.premade-trivia-container {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}

.premade-trivia-card {
	padding: 30px;
	border: 3px solid palevioletred;
	margin: 40px;
	border-radius: 20px;
}
