.splash-main {
	margin-top: 50px;
	height: 100%;
	width: 100%;
	background-color: white;
}

.splash-content-wrapper {
	background-color: white;
	height: 100%;
	margin-left: 8%;
	margin-right: 8%;
}

.splash-logo-section {
	height: 500px;
	width: 100%;
	background-color: #12c2e9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#trivia-fighter-title {
	color: black;
	width: 20ch;
	animation: typing 2s steps(16), blink 0.5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid;
	font-family: monospace;
	font-size: 5em;
}
@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.splash-logo-img {
	width: 100%;
	height: 100%;
}

.splash-info-section {
	border: 2px solid gray;
	padding: 20px;
	display: grid;
	grid-template-rows: auto auto; /* Two rows, first row auto-sized, second row auto-sized */
	grid-template-columns: 1fr 1fr; /* Two columns with equal width */
	gap: 10px; /* Gap between grid items */
}

.section {
	background-color: #eaeaea;
	padding: 20px;
}

/* might not use */
.splash-trivia-section {
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	border: 2px solid gray;
}

.splash-trivia-text-container {
	padding: 30px;
	height: 210px;
	width: 500px;
	background-color: #f64f59;
	color: white;
	border-radius: 20px;
	text-align: center;
	margin-right: 50px;
	overflow: auto;
}
#splash-trivia-header-text {
	font-size: 24px;
}
.splash-trivia-text {
	margin-top: 20px;
	font-size: 18px;
}

.splash-trivia-img-container {
	height: 100%;
	width: 500px;
	margin-left: 50px;
}
.splash-trivia-img-container:hover {
	transform: scale(1.2);
}
.splash-trivia-img {
	width: 100%;
	height: 100%;
}

.splash-char-section {
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow: hidden;
	background-image: linear-gradient(45deg, #8b5cf6, #ec4899);
}

.char-carousel-container {
	margin-left: 10%;
}

.splashchar-text-container {
	word-spacing: 3px;

	text-align: center;
	width: 30%;
	cursor: pointer;
	border: none;
	font-weight: bolder;
	font-size: 20px;
	cursor: pointer;
	line-height: 1.5;
}

.splashchar-select-button-wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#splashchar-select-button {
	min-width: 300px;
	min-height: 60px;
	font-family: "Nunito", sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 700;
	color: white;
	background: #313133;
	background: linear-gradient(90deg, #313133 0%, #313133 100%);
	border: none;
	border-radius: 1000px;
	box-shadow: 12px 12px 24px #313133;
	transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
	outline: none;
	position: relative;
	padding: 20px;
}

#splashchar-select-button:hover,
#splashchar-select-button:focus {
	color: white;
	transform: translateY(-6px);
}

#splashchar-select-button:hover::before,
#splashchar-select-button:focus::before {
	opacity: 1;
}

#splashchar-select-button::after {
	content: "";
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 6px solid #313133;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: ring 0.5s infinite;
}

#splashchar-select-button:hover::after,
#splashchar-select-button:focus::after {
	animation: none;
	display: none;
}
@keyframes ring {
	0% {
		width: 30px;
		height: 30px;
		opacity: 1;
	}
	100% {
		width: 300px;
		height: 300px;
		opacity: 0;
	}
}

.splashchar-text {
	font-size: larger;
}

#splashchar-header-text {
	color: white;
}

.splash-battle-section {
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 80px;
	justify-content: center;
}

.splashbattle-text-container {
	padding: 30px;
	height: 120px;
	width: 500px;
	border: 4px solid #12c2e9;
	background-color: #12c2e9;
	border-radius: 20px;
	text-align: center;
	margin-right: 50px;
	overflow: auto;
	color: white;
}

.splashbattle-text {
	margin-top: 10px;
}

.splashbattle-img-container {
	margin-top: 50px;
	height: 400px;
	width: 700px;
}

.splashbattle-img-container:hover {
	transform: scale(1.05);
}

.splashbattle-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.splash-join-section {
	height: 100%;
	width: 100%;
	margin-top: 50px;
	background-color: white;
	display: flex;
	justify-content: center;

	margin-top: 50px;
	background-color: #ff7f00;
	padding-top: 20px;
	padding-bottom: 20px;
}

.splashjoin-text-container {
	padding: 30px;
	height: 180px;
	width: 500px;
	border: 4px solid white;
	background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
	border-radius: 20px;
	text-align: center;
	margin-right: 50px;
	overflow: auto;
	color: white;
	cursor: pointer;
}

#splash-join-btn {
	background-color: white;
	border: 4px solid #f64f59;
	margin-top: 70px;
	color: #f64f59;
	height: 50px;
	width: 200px;
	font-size: 20px;
	font-weight: 900;
	border-radius: 20px;
	cursor: pointer;
}
#splash-join-btn:hover {
	transform: scale(1.2);
	border: 4px solid #12c2e9;
	color: #12c2e9;
}

.splash-log-btns {
	width: 200px;
}

.splash-log-btns {
	height: 60px;
	width: 200px;
	font-size: 19px;
	padding: 0.6em 2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;

	-webkit-user-select: none;
	touch-action: manipulation;
}
.splash-log-btns:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}
@keyframes glowing-button-85 {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
