.homepage-main-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	background-color: #faf7f0;
}

.homepage-header-container {
	padding-top: 30px;
	height: 400px;
	background-size: contain;
	margin-left: 8%;
	margin-right: 8%;
	background-image: url("https://trivia-fighter.s3.us-west-2.amazonaws.com/Images/logo.jpg");
}

.homepage-headerb-container {
	height: 150px;
	background-color: #f64f59;
	margin-left: 8%;
	margin-right: 8%;
}
.homepage-title-text-container {
	border: 4px solid #f64f59;
	background-color: white;
	margin-left: 33%;
	margin-right: 33%;
	height: 70px;
	border-radius: 50px;
	position: absolute;
	top: 390px;
	font-size: 30px;
	z-index: 1;
	width: 600px;
}

/*TriviaCard Section*/
.homepage-triviacard-container {
	margin-left: 8%;
	margin-right: 8%;
	background-color: white;
	position: relative;
}
.triviapackage-title-container {
	display: flex;
	justify-content: center;
}

.homepage-usermade-trivia-img {
	height: 130px;
	width: 130px;
	border-radius: 20%;
}

.homepage-usermade-trivia-img:hover {
	transform: scale(1.2);
}
.main-trivia-container {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.usermade-trivia-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	text-align: center;
	overflow: auto;
	max-height: 880px;
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 50%,
		rgba(246, 79, 89, 1) 100%
	);
}
.usermade-trivia-card {
	padding: 20px;
	border: 3px solid #f64f59;
	border-radius: 20px;
	margin: 40px;
	height: 320px;
	width: 250px;
	background-color: #faf7f0;
	cursor: pointer;
}
.usermade-trivia-title {
	margin-top: 3%;
	margin-bottom: 3%;
	font-size: 20px;
}

.premade-trivia-container {
	max-height: 850px;
	overflow: auto;
}

.triviapackage-title-container {
	border: 4px solid #f64f59;
	width: 400px;
	margin-left: 37%;
	margin-right: 37%;
	border-radius: 20px;
	padding: 5px;
	background-color: white;
}

.usertrivia-text-container {
	align-items: center;
	text-align: center;
}
.usertrivia-text {
	border: 4px solid #12c2e9;
	width: 400px;
	border-radius: 20px;
	margin-top: 90px;
	padding: 7px;
	margin-left: 35%;
}

/* Searchbar */
.homepage-searchbar {
	margin-top: 30px;
	width: 600px;
	height: 55px;
	font-size: 25px;
	border-radius: 20px;
	/* position: absolute;
	left: 510px; */
	border: 4px solid #f64f59;
	z-index: 2;
	position: relative;
}
.homepage-search-container {
	height: 75px;
}
