.homepage-main-container {
	border: 2px solid black;
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
}

.homepage-usermade-trivia-img {
	height: 230px;
	border-radius: 20%;
}

.usermade-trivia-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	text-align: center;
}

.usermade-trivia-card {
	padding: 20px;
	border: 3px solid paleturquoise;
	border-radius: 20px;
	margin: 40px;
}

.homepage-search-container {
	height: 75px;
}

.homepage-searchbar {
	margin-top: 30px;
	width: 600px;
	height: 55px;
	font-size: 25px;
	border-radius: 10px;
}
