.main-container {
	width: 380px;
	position: relative;
	z-index: 10;
	top: 65px;
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	left: 1100px;
}

.gamehistory-data-container {
	border: 2px solid #c471ed;
	border-radius: 20px;
	background-color: #faf7f0;
	width: 280px;
	height: 280px;
	overflow: auto;
}

.gamedata-open-btn {
	width: 200px;
	height: 50px;
}

.individual-gamedata-container {
	margin-top: 5%;
}

.gamedata-open-btn {
	border: none;
	border-radius: 20px;
	font-size: 20px;
	background-color: #12c2e9;
	color: white;
	cursor: pointer;
}

.gamedata-open-btn:hover {
	transform: scale(1.2);
	color: #12c2e9;
	background-color: white;
	border: 3px solid #12c2e9;
}

.gamedata-close-btn {
	height: 30px;
	border-radius: 10px;
	width: 100px;
	border: none;
	background-color: #f64f59;
	color: white;
	cursor: pointer;
}

.gamedata-close-btn:hover {
	transform: translateY(-5px);
}

.gamehistory-text {
	color: white;
}
