.login-form-container {
	margin-top: 500px;
	border: 2px solid green;
}

.logout-btn-container {
	width: 100px;
	height: 30px;
	text-align: center;
}
.logout-btn {
	width: 100%;
	border: none;
	height: 100%;
	font-size: 22px;
	background-color: palevioletred;
	border-radius: 20px;
	cursor: pointer;
}

.logout-btn:hover {
	transform: scale(1.2);
	color: white;
}
