.login-form-container {
	margin-top: 500px;
	border: 2px solid green;
}

.logout-btn-container {
	width: 100px;
	height: 30px;
	text-align: center;
}
.logout-btn {
	width: 100%;
	border: none;
	height: 100%;
	font-size: 22px;
	background-color: palevioletred;
	border-radius: 20px;
	cursor: pointer;
}

.logout-btn:hover {
	transform: scale(1.2);
	color: white;
}

.signup-form-container {
	height: 1000px;
	max-width: 100%;
	border: 2px solid red;
	background-size: cover;
	display: flex;
	flex-direction: column;
	background-image: url("https://trivia-fighter.s3.us-west-2.amazonaws.com/Images/aesthetic-purple-smoke-banner-background+(1).jpg");
	text-align: center;
	align-items: center;
}

.signup-form {
	border: 2px solid green;
	height: 600px;
	width: 800px;
	background-color: white;
}

.signup-form-title {
	margin-top: 200px;
}
