.gameover-main-container {
	height: 1000px;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
	justify-content: center;
	background: rgb(18, 194, 233);
	background: linear-gradient(
		93deg,
		rgba(18, 194, 233, 1) 30%,
		rgba(246, 79, 89, 1) 70%
	);
}
.gameover-img {
	height: 500px;
	width: 500px;
	border-radius: 50%;
}

/* BUTTONS */
.gameover-btn {
	margin-top: 20px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
	color: white;
	background-color: #1fd1f9;
	background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
	transition: 500ms;
}

.gameover-btn:before,
.gameover-btn:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 75px;
	height: 0px;
	background: transparent;
	transition: 500ms;
}

.gameover-btn:before {
	transform: translateX(-50px) translateY(27px);
	box-shadow: 5px 5px 16px #ca61ff;
}

.gameover-btn:after {
	transform: translateX(-25px) translateY(27px);
	box-shadow: -5px 5px 16px #1fd1f9;
}

.gameover-btn:hover:before,
.gameover-btn:hover:after {
	height: 5px;
}

.gameover-btn:hover {
	box-shadow: inset 0px 5px 10px rgba(255, 255, 255, 0.4);
}

.gameover-btn:focus {
	outline: none;
}

.winner-text {
	margin-top: 20px;
	font-size: 40px;
	color: white;
}

.gameover-review-container {
	margin-top: 3%;
}
.btn-load-text {
	margin-top: 3%;
	color: white;
}
