.battle-player-img {
	height: 300px;
	border-radius: 50%;
}

.battlepage-main-container {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(
		90deg,
		rgba(24, 161, 203, 1) 0%,
		rgba(255, 255, 255, 1) 35%,
		rgba(255, 255, 255, 1) 65%,
		rgb(224, 147, 238) 100%
	);
	flex-direction: column;
	height: 100%;
	padding-bottom: 75px;
}

.playertitle-text {
	margin-bottom: 20px;
}
.player-name-text {
	margin-top: 5%;
	font-size: 35px;
}
.player1-summary {
	margin-left: 10%;
	text-align: center;
	border-radius: 20%;
	height: 400px;
	width: 400px;
	padding: 20px;
	margin-top: 2.5%;
}

.player2-summary {
	margin-right: 10%;
	text-align: center;

	border-radius: 20%;
	height: 400px;
	width: 400px;
	padding: 20px;
	margin-top: 2.5%;
}

.player-container {
	height: 550px;
	margin-top: 2%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bar-container {
	margin-top: 10%;
}
