.main {
	display: flex;
	border-radius: 5px;
	gap: 10px;
	padding: 5px;
	align-items: center;
	background-color: #98a8f8;
}

.label {
	font-size: 20px;
	font-weight: bold;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50px;
	color: black;
}

.max {
	height: 35px;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	flex: 1;

	background-color: lightgray;
}

.value {
	height: 100%;
	background: #cdfcf6;
	transition: 0.35s;
}
