.primaryBtn {
	margin: 20px 10px;
	cursor: pointer;
	font-weight: 500;
	padding: 13px 25px;
	border-radius: 15px;
	font-size: 0.8rem;
	border: none;
	color: white;
	background: #02385a;
	transition: all 0.25s ease;
	z-index: 0;
}

.primaryBtn:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

.editBtn {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	background-color: #c471ed;
	margin-right: 2%;
	cursor: pointer;
}
.editBtn:hover {
	background-color: white;
	border: #c471ed 2px solid;
	transform: translate(-2px, 4px);
}
.deleteBtn {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	background-color: #f54f59;
	cursor: pointer;
}

.deleteBtn:hover {
	background-color: white;
	border: #f54f59 2px solid;
	transform: translate(2px, 4px);
}
