.nav-btn {
	padding: 8px 20px;
	border-radius: 4px;
	outline: none;
	border: none;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background-color: #1888ff;
}

.nav-btn:hover {
	padding: 6px 18px;
	transition: all 0.3s ease-out;
	background-color: transparent;
	color: #fff;
	border-radius: 4px;
	border: 2px solid #1888ff;
	transition: all 0.3s ease-out;
}
