.editsection-container {
	height: 750px;
	overflow: auto;
	width: 500px;
	word-wrap: break-word;
	text-align: center;
	margin-top: 10px;
}

.question-answer-container {
	border-top: 3px solid black;
	padding: 10px;
	height: 100%;
	background-color: white;
}

.trivia-edit-menu {
	font-size: 25px;
	margin-top: 10px;
	cursor: pointer;
}

.trivia-edit-menu:hover {
	background-color: #12c2e9;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: white;
}
.edit-btns-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.edit-question-links {
	margin-top: 10px;
	padding: 5px;

	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	width: 100px;
}
#editlink-edit {
	border: 3px solid #c471ed;
	border-radius: 20px;
}
#editlink-edit:hover {
	background-color: #c471ed;
	color: white;
}

#editlink-delete {
	border: 3px solid #f64f59;
	border-radius: 20px;
}
#editlink-delete:hover {
	background-color: #f64f59;
	color: white;
}

#editlink-close {
	border: 3px solid #12c2e9;
	border-radius: 20px;
}

#editlink-close:hover {
	background-color: #12c2e9;
	color: white;
}
