.editsection-container {
	height: 750px;
	overflow: auto;
	width: 500px;
	word-wrap: break-word;
	text-align: center;
	margin-top: 10px;
}

.triviaquestion-container {
	margin-top: 4%;
	height: 170px;
	margin-right: 4%;
	background-color: white;
	border: 3px solid black;
	border-radius: 5px;
}

.question-answer-container {
	border-bottom: 3px solid black;
	padding: 10px;
	max-height: 90px;
	overflow: auto;
	background-color: white;
}

.question-btns-container {
	margin-top: 2%;
	display: flex;
	justify-content: space-around;
}
