.optionspage-container {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.optionspage-title {
	text-align: center;
}

.optionspage-player-img {
	height: 200px;
	border-radius: 50%;
}

.player-boxes-container {
	display: flex;
	justify-content: space-around;
}

.optionspage-btns-container {
	margin-top: 50px;
	text-align: center;
}

.ind-player-info {
	display: flex;
	flex-direction: column;
}
